<md-content>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>

            <h2 flex md-truncate>Celltick Dashboard</h2>

        </div>
    </md-toolbar>
</md-content>

<div ng-if="!LOGGED_IN">
    <div ng-include="'views/login.html'"></div>
</div>

<div ng-if="LOGGED_IN">

    <table ng-table="dataList" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <td data-title="'Name'">{{row.name}}</td>
            <td data-title="'Age'">{{row.age}}</td>
        </tr>
    </table>
</div>