<md-content>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>

            <h2 class="my-brand" flex md-truncate>Celltick Dashboard</h2>

        </div>
    </md-toolbar>
</md-content>

<div ng-if="!LOGGED_IN">
    <div ng-include="'views/login.html'"></div>
</div>

<div ng-if="LOGGED_IN">

    <div layout="row" layout-padding ng-cloak>
        <div layout="column" flex="10"></div>

        <div layout="column" flex="80">
            <table ng-table="dataList" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="row in $data">
                    <td data-title="'Provider'" sortable="'provider'" filter="{'provider.name': 'text'}">{{row.provider.name}}</td>
                    <td data-title="'Circle'" sortable="'circle'" filter="{provider: 'text'}">{{row.circle}}</td>
                    <td data-title="'Simtype'" sortable="'simtype'" filter="{provider: 'text'}">{{row.simtype}}</td>
                    <td data-title="'Handset'" sortable="'handset'" filter="{provider: 'text'}">{{row.handset}}</td>
                    <td data-title="'MSIDN'" sortable="'msidn'" filter="{provider: 'text'}">{{row.msidn}}</td>
                    <td data-title="'ActiveStatus'" sortable="'activeStatus'" filter="{provider: 'text'}">{{row.activeStatus}}</td>
                    <td data-title="'TimeStamp'" sortable="'ctime'" filter="{ctime: 'text'}">{{row.ctime | date : short}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>