<div>
    <div layout="row">
        <div layout="column" flex="55">
        </div>

        <div layout="column" flex="40" class="login">
            <div layout="row">
                <div layout="column" flex layout-padding ng-cloak>
                    <md-content class="md-no-momentum">

                        <span ng-if="user.errorMessage" style="color:red;" layout-padding>{{user.errorMessage}}</span>

                        <md-input-container class="md-icon-float md-block">
                            <!-- Use floating label instead of placeholder -->
                            <label>Name</label>
                            <md-icon md-svg-src="account" class="name"></md-icon>
                            <input ng-model="user.name" type="text">
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <md-icon md-svg-src="lock"></md-icon>
                            <input ng-model="user.password" type="password" placeholder="Password">
                        </md-input-container>

                        <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                            <md-button class="md-raised md-primary" layout-align="center end" ng-click="authLogin();">Login</md-button>
                        </section>

                    </md-content>
                </div>
            </div>
        </div>

        <div layout="column" flex="5">
        </div>

    </div>

</div>